/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");

/* General Styling */
:root {
  --javascript-yellow: #f0db4f;
  --javascript-black: #323330;
  --react-blue: #61dbfb;
  --js-games-red: #f44336;
  --js-games-blue: #03a9f4;
  --js-games-green: #8bc34a;
  --rps-font: "Mogra", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quantico", serif;
  color: #333;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

/* Utilities */
.container {
  margin: 0 auto 32px;
  padding-top: 8px;
  width: 80%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-margin {
  margin-block: 128px;
}

.rps-font {
  font-family: var(--rps-font);
}

/* Main Navigation */
.nav-logo {
  color: #fff;
  background-color: #000;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 24px;
  border-radius: 0 12px 0 12px;
}

.nav-logo-js {
  color: var(--javascript-yellow);
  margin-right: 4px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-link {
  padding: 2px 6px;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  color: #fff;
}

.nav-link-a:hover {
  box-shadow: inset 300px 0 0 0 var(--js-games-red);
}

.nav-link-b:hover {
  box-shadow: inset 300px 0 0 0 var(--js-games-blue);
}

.nav-link-c:hover {
  box-shadow: inset 300px 0 0 0 var(--js-games-green);
}

.nav-link-d:hover {
  box-shadow: inset 300px 0 0 0 var(--javascript-black);
}

/* Game Introduction */
.game-header {
  text-align: center;
}

.game-title {
  font-size: 48px;
}

.game-title-icon {
  font-size: 24px;
  margin-inline: 8px;
}

.game-subtitle {
  color: #555;
  font-size: 32px;
}
/* Footer */
footer {
  text-align: center;
  padding-block: 24px;
}
